<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="LogsDirectory" value="C:\Users\mumai\OneDrive\Desktop\K181292_IPT_A2\K181292_Q1"/>
		<add key="EmailsDirectory" value="C:\Users\mumai\OneDrive\Desktop\K181292_IPT_A2\K181292_Q1"/>
		<add key="SenderEmail" value="SENDER_EMAIL"/>
		<add key="SenderPassword" value="SENDER_PASSWORD"/>
	</appSettings>
</configuration>