<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	
	<appSettings>
		<add key="FeedsDirectory" value="C:\Users\mumai\OneDrive\Desktop\K181292_IPT_A2\K181292_Q2\feeds"/>
		<add key="LogsDirectory" value="C:\Users\mumai\OneDrive\Desktop\K181292_IPT_A2\K181292_Q2\logs" />
		<add key="RSSFeedURL1" value="http://nation.com.pk/rss/islamabad"/>
		<add key="RSSFeedURL2" value="http://www.newslens.pk/category/human-rights/feed/" />
	</appSettings>

</configuration>